.page_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language_form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px 10px;
    padding: 10px 12px 10px;
    flex-wrap: wrap;
}

.active1{
    background-color: aqua;
}

.testingDiv {
    /* flex: 0 0 100%; */
    position: absolute;
    width: 88%;
    top: 32%
}

.formBtn{
    margin-top: 80px;
}

.base_table {
    position: relative;
}

#deleteDiv {
    position: absolute;
    background-color: black;
    padding: 10px 12px 10px;
    top: 50%;
    left: 25%;
}

.deleteButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_button {
    display: flex;
    justify-content: space-around;
    padding: 10px 12px 10px;
    align-items: center;
}

.form_button button{
    border: none;
    background-color: #a861f0;
    color: #fff;
    padding: 5px 8px 6px;
    border-radius: 4px;
}

.row_body {
    padding: 10px 12px 10px;
    border: 1px solid #80808091;
    margin-bottom: 5px;
    border-radius: 4px;
}

#editDiv {
    background-color: black;
    width: 20%;
    padding: 10px 12px 10px;
    border-radius: 4px;
    position: absolute;
    left: 30%;
    top: 50%;
}